[submodule "source/features-of-busterjs-modules"]
	path = source/features-of-busterjs-modules
	url = https://github.com/ryuone/features-of-busterjs-modules.git
[submodule "source/busterjs-shodan"]
	path = source/busterjs-shodan
	url = git://github.com/ryuone/busterjs-shodan.git
